*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}
.nav-top{
    display:flex;
    align-items:center;
    border:#06652e;
    justify-content:space-around;
}
main{
display:flex;
align-items: center;
border: rgb(30,12,58) solid 1px;
justify-content: space-around;
} 
ul{
    display:flex;
    list-style: none;
    gap: 5px; 
}
a{
    font-size: 18px;
    text-decoration:none;
}
.botao-cta{
    padding:5px;
    margin:5px;
    border: solid 1px rgb(255, 0, 140);
    border-radius: 10px 30px 10px 30px;
    box-shadow: 4px 3px 5px 0px rgb(61, 14, 38);
}
.botão-cta:hover{
    border: #70deff;
}
.botão-cta:active{
      box-shadow: 4px 3px 5px 0px black;
}
main{
    border:solid 2px rgb(134, 53, 172);
    max-width: 1200px;
    margin: 0 auto;
}
section{
    height: auto;
    border: solid 3px rgb(130, 74, 138);
    background-color: rgb(255, 217, 253);
}
/* Aqui é uma CLASSE */
.container-cards{
    width: 100%;
    display: flex;
    /*         três colunas com pixels 
    grid-template-columns: 200px 800px 300px;
                três colunas com frações com espaçamento 
    grid-template-columns:1fr 2fr 1fr; 

    grid template-columns: repeat(2, 1fr);
     */
    
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap:20px;
    justify-items:center;
} 
.card{

    padding:20px;
    border: solid 2px rgb(134, 53, 172);
    background-color: rgb(255, 245, 252);
    width:250px;
    height:auto;
    box-shadow:4px 3px 5px 0px rgb(77, 21, 54);
}
.card:hover{
     transform:translateY(-2px);

}
.titulo{
    font-size: 20px;
    color: #06652e;
    padding: 10px;
}
.card-img{
    width: auto;
    height: auto;
    margin: 5px auto;
    border: solid 2px rgb(102, 61, 93);
}
/* Aqui é um ID */
#botao-cancelar{
    width: 300px;
    background-color: rgb(54, 31, 53);
    background-color: red;
}
.logo{
    width:80px;
}
.nav-mobile{
    display: none;
    align-items: center;
    justify-content:space-around;
    width:100%;
    height:100px;
    position:fixed;
    left:0;
    bottom:0;
    box-shadow: 3px 5px;
    background-color: palevioletred;
}
.botão-mob{
   width:80px;
   height:60px;
   box-shadow: 0px 0px 3px 1px rgb;
   display:flex ;
   align-items:center;
   justify-content:center;

}
/*evento de passar o cursor */
.botão-mob:hover{
background-color: rgb(236, 187, 255);
} 

/*evento de clicar
translate
y CIMA-BAIXO
X DIREITA-ESQUERDA
*/
.botao-mob:active{
    box-shadow: 0px 0px 3px 1px black;
    transform:translateY(3px);

}
@media screen and (max-width:768px)  {
  .nav-mobile {
    display: flex;
  }
  .nav-top{
    display:none;
  }
   
  #foca-oculta{
    display:none;
  }
}